$font-color: #46636d;
$bold-font-color: #ec433d;
$background-color: #a0dae7;
$highlight-color: white;

::-moz-selection { background:transparentize($highlight-color, .5); }
::selection { background:transparentize($highlight-color, .5); }

html, body {
  background: $background-color;
  color: $font-color;
  text-align: center;
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 1rem;
}

section {
  flex: 1 1 auto;
  margin-top: 10vh;
}

h1 {
  color: $bold-font-color;
  font-size: 2.25rem;
  text-transform: uppercase;

  display: inline;
  background: $highlight-color;
  box-shadow: .25em 0 0 $highlight-color, -.25em 0 0 $highlight-color;
  padding: .15em 0 .05em;
  line-height: .975;

  span {
    position: relative;

    &:after {
      content: "\a";
      white-space: pre;
    }
  }

  @include medium-up { font-size: 3.25rem; }
}

h2 {
  font-size: 1.25rem;
  margin: 2rem 0 .5rem;

  @include medium-up { font-size: 1.45rem; }
}

p {
  margin: .5rem 0;
}

a {
  border-bottom: 1px solid;
  color: $font-color;
  padding: .15rem;
  text-decoration: none;

  &:hover, &:active { background: $highlight-color; }
}

small {
  font-size: 65%;

  @include medium-up { font-size: 80%; }
}
