$font-color: #46636d;
$bold-font-color: #ec433d;
$background-color: #a0dae7;
$highlight-color: white;

::-moz-selection { background:transparentize($highlight-color, .5); color: $font-color; }
::selection { background:transparentize($highlight-color, .5); color: $font-color; }

html, body {
  background: $background-color;
  color: $font-color;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 1rem;
}

footer {
  img { max-width: 8rem; }
}

header {
  section {
    flex: 1 1 auto;
    margin-top: 10vh;
  }

  h1 {
    color: $bold-font-color;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;

    display: inline;
    background: $highlight-color;
    padding-top: .1em;
    box-shadow: .25em 0 0 $highlight-color, -.25em 0 0 $highlight-color;
    line-height: .925;

    span {
      position: relative;

      &:after {
        content: "\a";
        white-space: pre;
      }
    }

    @include medium-up { font-size: 3.25rem; }
  }

  h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin: 2rem 0 .5rem;

    @include medium-up { font-size: 1.45rem; }
  }
}

p {
  margin: .5rem 0;
}

a {
  border-bottom: 1px solid;
  color: $font-color;
  padding: .15rem;
  text-decoration: none;

  &:hover, &:active { background: $highlight-color; }
}

small {
  font-size: 65%;

  @include medium-up { font-size: 80%; }
}

section.description {
  text-align: left;
  max-width: 33rem;
  margin: 2rem auto;
  margin-bottom: 5rem;
  h1 { line-height: 1.2 }
}

#shopify-buy-button {
  margin: 1rem auto .5rem;
}
